---
kind: Service
apiVersion: v1
metadata:
  name: guestbook
  labels:
    app: guestbook
spec:
  ports:
  - port: 3000
    name: http-server
    targetPort: http-server
  selector:
    app: guestbook
